<mat-card>
<div style="text-align:center">
<h2 center><strong>Contact Us </strong></h2><br><br>
</div>

<img src="../../../assets/images/founder.jpg" class="thumbnail2" alt="Founder Picture" align="left">
<h3><strong>Local Business Platform office</strong></h3><br>
<span>Founder: Ashish Rajak (Ace)</span><br>
<span>Address: 100 N University St, Normal, IL 61761</span><br>
<span>Phone: (309) 438-2181</span><br>
<span>Email: arajak@ilstu.edu</span><br>
<span>Business Hours: Monday-Friday 8am-4pm</span><br>
<br><br>
<button mat-raised-button value="Ok" [mat-dialog-close]="true">Close</button>
</mat-card>