<div fxLayout="row" fxLayoutAlign="center center" class="login-main">
    <mat-card>
        
        <mat-card-header>
            <mat-card-title>{{storeName}}</mat-card-title>
        </mat-card-header>

        <mat-card-content fxLayout="column">
            <table>
                <tr>
                    <td>Store Id: </td>
                    <td>{{storeId}}</td>
                </tr>

                <tr>
                    <td>Store Phone:</td>
                    <td>{{phone}}</td>
                </tr>

                <tr>
                    <td>Store Email:</td>
                    <td>{{email}}</td>
                </tr>

                <tr>
                    <td style="vertical-align:top">Store Address:</td>
                    <td style="vertical-align:top">
                        {{street}}, {{city}}<br>
                        {{state}}, {{zipcode}}, {{country}}
                    </td>
                </tr>

                <tr>
                    <td>Store Registration:</td>
                    <td>{{registrationDate}}</td>
                </tr>
                <tr>
                    <td>Rating:</td>
                    <td>★★★★★★</td>
                </tr>
            </table>
        </mat-card-content>


        <mat-card-actions align="start">
            <div id="inlinediv">
                <button mat-raised-button (click)="messageWindow(email)" value="Message">Message</button>
            </div>
            <div id="inlinediv">
                <button mat-raised-button value="Close" [mat-dialog-close]=true>Close</button>
            </div>
        </mat-card-actions>
    </mat-card> 
</div>
