<mat-card>
    <mat-card-header>
        <mat-card-title>Item Ordering Screen:</mat-card-title>
    </mat-card-header>

    <table>
        <tr>
            <td style="vertical-align:top">
                <img [src]="'data:image/jpeg;base64,'+ itemImage" class="thumbnail2" align="left">
            </td>
            <td>
                <h2>{{description}}</h2><br>
                <h1>Price: ${{price}}</h1><br>
                <h3>Category: {{category}}</h3><br>
                <h3>Name: {{itemName}}</h3><br>
                <h3>Id# {{itemId}}</h3><br>
                <h3>Quantity available: {{inventoryQty}}</h3><br>

                <mat-form-field appearance="fill" class="styleWidth">
                    <mat-select placeholder="Qty" [(ngModel)]="orderQty">
                        <mat-option *ngFor="let number of createRange(inventoryQty)" class="styleWidth" [value]="number">
                            {{number}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                
                <mat-card-actions align="start">
                    <div id="inlinediv">
                        <button mat-raised-button value="Submit" (click)="AddToCart()">Add to cart</button>
                    </div>
                    
                    <div id="inlinediv">
                        <button mat-raised-button value="Close" [mat-dialog-close]=true>Close</button>
                    </div>
                </mat-card-actions>
            </td>
        </tr>
    </table>

</mat-card> 

