<mat-card>
    <mat-card-header>
        <mat-card-title>Feedback for {{revieweeName}}</mat-card-title>
    </mat-card-header>

    <div class="rate">
        <input type="radio" id="fiveStar" [(ngModel)]="ratingValue" (click)="enableSubmitButton()" value="5" />
        <label for="fiveStar" title="Excellent"></label>
        <input type="radio" id="fourStar" [(ngModel)]="ratingValue" (click)="enableSubmitButton()" value="4" />
        <label for="fourStar" title="Good"></label>
        <input type="radio" id="threeStar" [(ngModel)]="ratingValue" (click)="enableSubmitButton()" value="3" />
        <label for="threeStar" title="Okay"></label>
        <input type="radio" id="twoStar" [(ngModel)]="ratingValue" (click)="enableSubmitButton()" value="2" />
        <label for="twoStar" title="Bad"></label>
        <input type="radio" id="oneStar" [(ngModel)]="ratingValue" (click)="enableSubmitButton()" value="1" />
        <label for="oneStar" title="Terrible"></label>
    </div>

    <mat-card-content>
        <mat-form-field style="width: 300px; background-color: rgb(241, 241, 241)" hintLabel="Max 500 characters">
            <textarea matInput placeholder="Please leave a feedback" name="comment" [(ngModel)]="comment" [maxLength]="500" rows="7" cols="40"></textarea>
        </mat-form-field>
    </mat-card-content>

    <mat-card-actions align="start">
        <div id="inlinediv">
            <button mat-raised-button value="Submit" (click)="SendRating()" [disabled]="!disableButton">Submit</button>
        </div>
        
        <div id="inlinediv">
            <button mat-raised-button value="Close" [mat-dialog-close]=true>Close</button>
        </div>
    </mat-card-actions>
</mat-card> 


