<div class="container">
    <nav>
        <ul>
          <li><a href="#" routerLink="/logout">logout</a></li>
          <li><a href="#" class="active" routerLink="/cart">Cart</a></li>
          <li><a href="#" routerLink="/orderstatus">Order Status</a></li>
          <li><a href="#" routerLink="/profile">Profile</a></li>
          <li><a href="#" routerLink="/home">Home</a></li>
        </ul>
    </nav>

    <div style="text-align:center">
      <h1 [ngStyle]="{'color':'green'}">Shopping Cart</h1>
    </div>

    <div *ngFor="let cartItem of cartItems">
        <br>
        <mat-card>
          <table style="width:100%">
            <tr>
              <th style="width:70%"></th>
              <th style="width:15%;text-align:right">Ordered Qty</th>
              <th style="width:15%;text-align:right">Price</th>
            </tr>
            <tr>
              <td style="width:70%">
                <img [src]="'data:image/jpeg;base64,'+ cartItem.itemImage" class="thumbnail2" align="left">
                <h2>{{cartItem.description}}</h2><br>
                <h3>{{cartItem.category}}</h3><br>
                <h3>{{cartItem.itemName}}</h3><br>
                <h3>Seller: {{cartItem.storeName}}</h3>
                <div class="d">
                  <a class="link" (click)="delete(cartItem.itemId)">Delete</a>
                </div>

              </td>
              <td style="vertical-align:top;width:15%;text-align:right">
                <h3>{{cartItem.orderQty}}</h3><br>
              </td>
              <td style="vertical-align:top;width:15%; text-align:right">
                <h2>${{cartItem.price}}</h2><br>
              </td>

            </tr>
          </table>
        </mat-card>
      </div>
      <div style="text-align:right">
        <mat-card>
            <h2>Subtotal ({{subTotalItems}} item): ${{subTotal}}</h2>
        </mat-card>
      </div>
      <mat-card>
        <mat-card-actions align="end">
            <button mat-raised-button value="checkout" (click)="checkout()">Proceed to checkout</button>
        </mat-card-actions>
      </mat-card>
    
</div>
