<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Local Business Platform</title>
</head>
<body>
<div fxLayout="row" fxLayoutAlign="center center" class="login-main">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Please fillout the information below:</mat-card-title>
        </mat-card-header>

        <mat-card-content fxLayout="column">
            <mat-form-field>
            <input matInput placeholder="Firstname" name="firstname" [(ngModel)]="firstname" required>
            </mat-form-field>
            
            <mat-form-field>
            <input matInput placeholder="Lastname" name="lastname" [(ngModel)]="lastname" required>
            </mat-form-field>
        
            <mat-form-field>
            <input matInput placeholder="Email" name="username" [(ngModel)]="username" required>
            </mat-form-field>

            <mat-form-field>
            <input matInput placeholder="password" type="password" name="password" [(ngModel)]="password" required>
            </mat-form-field>
            
            <label> User Type: </label>
            <mat-radio-group [(ngModel)]="usertype">
                <mat-radio-button value="buyer">Buyer</mat-radio-button>
                <mat-radio-button value="seller">Seller</mat-radio-button>
                <mat-radio-button value="both">Both</mat-radio-button>
            </mat-radio-group>
            
        </mat-card-content>

        <mat-card-actions align="start">
            <button mat-raised-button value="Submit" (click)="SignUp()" [mat-dialog-close]="true">Submit</button>
            <button mat-raised-button value="Close" [mat-dialog-close]="true">Close</button>
        </mat-card-actions>
    </mat-card> 
</div>

</body>
</html>