<div class="container">
    <nav>
        <ul>
          <li><a href="#" routerLink="/logout">logout</a></li>
          <li *ngIf="user.usertype === 'buyer'"><a href="#" routerLink="/cart">Cart</a></li>
          <li><a href="#" class="active" routerLink="/messagecenter" matBadge="{{tempdata.getMessageCenterNotifications()}}">Messages</a></li>
          <li *ngIf="user.usertype === 'seller'"><a href="#" routerLink="/ordercheck" matBadge="{{this.tempdata.getOrderCheckNotifications()}}">Order</a></li>
          <li *ngIf="user.usertype === 'buyer'"><a href="#" routerLink="/orderstatus">Order Status</a></li>
          <li><a href="#" routerLink="/profile">Profile</a></li>
          <li><a href="#" routerLink="/home">Home</a></li>
        </ul>
    </nav>

    <table style="border: none; table-layout: auto; width:100%">
        <tr style="border: none;">
            <td style="border: none; vertical-align:top; text-align:left; width: 100px;">
                <h3 class="link" (click)="inbox()">Inbox ({{unreadMessages}})</h3><br>
                <h3 class="link" (click)="sent()">Sent</h3><br>
                <h3 class="link" (click)="deleted()">Deleted</h3><br>
            </td>

            <td style="border: none;">
                <div style="padding:16px 16px;">
                    <table style="border: none; table-layout: auto; width:470px">
                        <tr>
                            <th style="text-align:left" colspan="4">{{messageCategory}}</th>
                        </tr>
                            <tr *ngFor="let inboxMessage of inboxMessages" class="cursor" [ngStyle]="{'background-color': (inboxMessage.messageStatus == 'U' && messageCategory== 'Inbox') ? 'lightgrey' : 'white'}">
                                <td *ngIf="messageCategory == 'Inbox'" style="text-align:left; width:100px" (click)="displayMessage(inboxMessage.messageId)">{{inboxMessage.senderUsername}}</td>
                                <td *ngIf="messageCategory == 'Sent To'" style="text-align:left; width:100px" (click)="displayMessage(inboxMessage.messageId)">{{inboxMessage.recipientUsername}}</td>
                                <td *ngIf="messageCategory == 'Deleted'" style="text-align:left; width:100px" (click)="displayMessage(inboxMessage.messageId)">From: {{inboxMessage.senderUsername}} <br> To: {{inboxMessage.recipientUsername}}</td>
                                <td style="text-align:left; width:200px" (click)="displayMessage(inboxMessage.messageId)">{{inboxMessage.message}}</td>
                                <td style="text-align:left; width:10px" (click)="displayMessage(inboxMessage.messageId)">{{inboxMessage.messageDate}}</td>
                                <td style="text-align:left; width:10px" (click)="displayMessage(inboxMessage.messageId)">{{inboxMessage.messageTime}}</td>
                            </tr>
                    </table>
                </div>
                    
                <div *ngIf="messageId != 0 && messageId != undefined" style="padding:16px 16px;">
                    <table style="width:100%;border: none;">
                        <tr>
                            <th style="width:10%;border:none;"></th>
                            <th style="width:90%;border:none;"></th>
                        </tr>
                        <tr>
                            <td *ngIf="messageCategory == 'Inbox'" style="width:10%;border:none;">Sender:</td>
                            <td *ngIf="messageCategory == 'Inbox'" style="width:90%;border:none;">{{sender}}</td>

                            <td *ngIf="messageCategory == 'Sent To'" style="width:10%;border:none;">Recipient:</td>
                            <td *ngIf="messageCategory == 'Sent To'" style="width:90%;border:none;">{{recipient}}</td>
                        </tr>
                        <tr>
                            <td *ngIf="messageCategory == 'Deleted'" style="width:10%;border:none;">Recipient:</td>
                            <td *ngIf="messageCategory == 'Deleted'" style="width:90%;border:none;">{{recipient}}</td>
                        </tr>
                        <tr>
                            <td *ngIf="messageCategory == 'Deleted'" style="width:10%;border:none;">Sender:</td>
                            <td *ngIf="messageCategory == 'Deleted'" style="width:90%;border:none;">{{sender}}</td>
                        </tr>
                        
                        <tr>
                            <td style="width:10%;border:none;">Date:</td>
                            <td style="width:90%;border:none;">{{messageDate}}</td>
                        </tr>                        
                        <tr>
                            <td style="width:10%;border:none;">Time:</td>
                            <td style="width:90%;border:none;">{{messageTime}}</td>
                        </tr>
                        <tr>
                            <td style="width:10%;border:none;">Message:</td>
                            <td style="width:90%;border:none;">{{message}}</td>
                        </tr>

                        <ng-container *ngIf="messageCategory =='Inbox' && messageId != 0">
                            <tr>
                                <td style="width:10%;border:none;"></td>
                                <td style="width:90%;border:none;">
                                    <mat-card-actions id="inlinespace" align="start">
                                        <button mat-raised-button value="delete" (click)="delete()">Delete</button>
                                        <button mat-raised-button value="reply" (click)="reply()">Reply</button>
                                    </mat-card-actions>
                                </td>
                            </tr>
                        </ng-container>

                        <ng-container *ngIf="messageCategory=='Deleted'">
                            <tr>
                                <td style="width:10%;border:none;"></td>
                                <td style="width:90%;border:none;">
                                    <mat-card-actions id="inlinespace" align="start">
                                        <button mat-raised-button value="deletePermanently" (click)="deletePermanently()">Delete Permanently</button>
                                    </mat-card-actions>
                                </td>
                            </tr>
                        </ng-container>

                    </table> 
                </div>
            </td>
        </tr>
    </table>

    
    <div class="footer">
        <a style="margin-right:15px;" class="footerlink" (click)="footerPage('about')">About</a>
        <a style="margin-right:15px;" class="footerlink" (click)="footerPage('contactus')">Contact Us</a>
        <a style="margin-right:15px;">© 2021 LBP, Inc</a>
      </div>

</div>
