<div class="container">
    <nav>
        <ul>
          <li><a href="#" routerLink="/logout">logout</a></li>
          <li *ngIf="user.usertype === 'buyer'"><a href="#" routerLink="/cart">Cart</a></li>
          <li><a href="#" class="active" routerLink="/messagecenter">Messages</a></li>
          <li *ngIf="user.usertype === 'seller'"><a href="#" routerLink="/ordercheck">Order</a></li>
          <li *ngIf="user.usertype === 'buyer'"><a href="#" routerLink="/orderstatus">Order Status</a></li>
          <li><a href="#" routerLink="/profile">Profile</a></li>
          <li><a href="#" routerLink="/home">Home</a></li>
        </ul>
    </nav>

    <table style="border: none;">
        <tr style="border: none;">
            <td style="border: none; vertical-align:top">
                <h3 class="link" (click)="inbox()">Inbox ({{unreadMessages}})</h3><br>
                <h3 class="link" (click)="sent()">Sent</h3><br>
                <h3 class="link" (click)="deleted()">Deleted</h3><br>
            </td>

            <td style="border: none;">
                <div style="padding:16px 16px;">
                    <table width="270">
                        <tr>
                            <th style="text-align:left" colspan="4">{{messageCategory}}</th>
                            <!-- <th style="width:100px; text-align:left">Message Description</th>
                            <th style="width:5px; text-align: left">Date</th>
                            <th style="width:5px; text-align: left">Time</th> -->
                            
                        </tr>

                            <!-- <tr *ngFor="let inboxMessage of inboxMessages" class="cursor">
                                <span *ngIf="inboxMessage.messageStatus == 'U'" [ngStyle]="{'background-color': 'lightgrey'}" >
                                    <td style="width:50px; text-align:left" (click)="displayMessage(inboxMessage.messageId)">{{inboxMessage.recipientUsername}}</td>
                                    <td style="width:200px; text-align:left" (click)="displayMessage(inboxMessage.messageId)">{{inboxMessage.message}}</td>
                                    <td style="width:10px; text-align:left" (click)="displayMessage(inboxMessage.messageId)">{{inboxMessage.messageDate}}</td>
                                    <td style="width:10px; text-align:left" (click)="displayMessage(inboxMessage.messageId)">{{inboxMessage.messageTime}}</td>
                                </span>
                            </tr> -->

                            <tr *ngFor="let inboxMessage of inboxMessages" class="cursor" [ngStyle]="{'background-color': (inboxMessage.messageStatus == 'U') ? 'lightgrey' : 'white'}">
                                    <td width = "50" style="text-align:left" (click)="displayMessage(inboxMessage.messageId)">{{inboxMessage.recipientUsername}}</td>
                                    <td width = "200" style="text-align:left" (click)="displayMessage(inboxMessage.messageId)">{{inboxMessage.message}}</td>
                                    <td width = "10" style="text-align:left" (click)="displayMessage(inboxMessage.messageId)">{{inboxMessage.messageDate}}</td>
                                    <td width = "10" style="text-align:left" (click)="displayMessage(inboxMessage.messageId)">{{inboxMessage.messageTime}}</td>
                            </tr>
                    </table>
                </div>
                    
                <div *ngIf="messageCategory != ''" style="padding:16px 16px;">
                    <table style="width:100%;border: none;">
                        <tr>
                            <th style="width:10%;border:none;"></th>
                            <th style="width:90%;border:none;"></th>
                        </tr>
                        <tr>
                            <td style="width:10%;border:none;">Sender:</td>
                            <td style="width:90%;border:none;">{{sender}}</td>
                        </tr>
                        <tr>
                            <td style="width:10%;border:none;">Date:</td>
                            <td style="width:90%;border:none;">{{messageDate}}</td>
                        </tr>                        
                        <tr>
                            <td style="width:10%;border:none;">Time:</td>
                            <td style="width:90%;border:none;">{{messageTime}}</td>
                        </tr>
                        <tr>
                            <td style="width:10%;border:none;">Message:</td>
                            <td style="width:90%;border:none;">{{message}}</td>
                        </tr>
                    </table> 
                </div>
            </td>
        </tr>
    </table>

</div>
