<h2>About Local Business Platform</h2><br><br>

<h3><strong>Misssion</strong><h3><br>
<p>Local Business Platform is a hope for local businesses. We provide opportunities and a platform for business who are trying to grow.</p><br>

<h3><strong>Founder and Developer</strong><h3><br>
<p>Ashish Rajak</p><br>

<h3><strong>Vision</strong><h3><br>
<p>This Local Business Platform application will help bring all the local businesses together, where they will be able to sell their items online and the customers can search for items locally with in a given radius (distance) from their current location.</p><br>

<button mat-raised-button value="Ok" [mat-dialog-close]="true">Close</button>