body{
  background-image: url("./images/background.jpg");
}


.container {
    width: 90%;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

li a:hover:not(.active) {
    background-color: #04AA6D;
}

.active {
    background-color: #04AA6D;
  }

  img.thumbnail {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    margin-right: 10px;

  }
  
  img.thumbnail:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }

  img.thumbnail2 {
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 5px;
    width: 225px;
    margin-right: 10px;
  }
  
  img.thumbnail2:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }

  mat-card {
    max-width: 100%;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: auto;
    padding-top: 0px;
    padding-bottom: 0px;
    box-sizing: border-box;
}

  #inlinediv {
    display: inline-block;
    padding-right: 15px;
  }

  #inputinlinediv {
    display: inline-block;
    padding-right: 10px;
  }

a.editlink {
  text-decoration: underline;
  text-decoration-color: green;
  color: green;
  cursor: pointer;
}

h1, h2,h3{
  display: inline;
  }

.mat-button, .mat-raised-button{
  background-color:#4CAF50;
}

div.a {
  font-size: 12px;
  }

a.link {
    text-decoration: underline;
    text-decoration-color: blue;
    color: blue;
    cursor: pointer;
  }

  .link {
    text-decoration: underline;
    text-decoration-color:gray;
    color:rgb(58, 52, 52);
    cursor: pointer;
  }

  d.link {
    text-decoration: underline;
    text-decoration-color: skyblue;
    color: skyblue;
    cursor: pointer;
  }

  .mat-button, .mat-raised-button{
    background-color:#4CAF50;
    }
    
  #greenstatus{
    color: white;
    background-color: #4CAF50;
  }

  #redstatus{
    color: white;
    background-color: red;
  }
