.center {
    text-align: center;
    margin: auto;
    margin-top: 10%;
    width: 100%;
    padding: 10px;
    position: relative;
    font-size: large;
}

.full-width {
    width: 100%;
    font-size: large;
}


.mat-button, .mat-raised-button{
    background-color:#4CAF50;
} 

table {
    width: 100%;
}


.mat-row .mat-cell {
    cursor: pointer;
    }
  
  .mat-row:hover .mat-cell {
    border-color: currentColor;
  }