<div class="container">
  <nav>
      <ul>
        <li><a href="#" routerLink="/logout">logout</a></li>
        <li *ngIf="user.usertype === 'buyer'"><a href="#" routerLink="/cart">Cart</a></li>
        <li *ngIf="user.usertype === 'seller'"><a href="#" routerLink="/ordercheck">Order</a></li>
        <li *ngIf="user.usertype === 'buyer'"><a href="#" routerLink="/orderstatus">Order Status</a></li>
        <li><a href="#" routerLink="/profile">Profile</a></li>
        <li><a href="#" class="active" routerLink="/home">Home</a></li>
      </ul>
  </nav>
  
  <div class="center" *ngIf="user.usertype === 'buyer'">
    <!-- <mat-card>
      <mat-form-field class="full-width">
        <input matInput type = "search" placeholder="Search an Iiem">
      </mat-form-field>
    </mat-card> -->
    <mat-card>
      <mat-form-field appearance="fill" id="inlinespace">
        <mat-label >Select a category</mat-label>
        <mat-select [(value)]="categoryName" >
          <mat-option value="">All Category</mat-option>
          <mat-option value="books">Books</mat-option>
          <mat-option value="electronics">Electronics</mat-option>
          <mat-option value="sports">Sports</mat-option>
          <mat-option value="computers">Computers</mat-option>
          <mat-option value="instruments">Instruments</mat-option>
          <mat-option value="entertainment">Entertainment</mat-option>
          
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" id="inlinespace" class="full-width">  
        <input matInput type = "search" [(ngModel)]="itemName" placeholder="Search an Iiem">
      </mat-form-field>

      <mat-card-actions id="inlinespace" align="end">
        <button mat-raised-button color="accent" value="Search" (click)="searchItem()">search</button>
      </mat-card-actions>

    </mat-card>


    <div *ngIf="itemIsSearched">
        <div *ngFor="let searchData of searchDatas">
          <br>
          <mat-card>
            <img [src]="'data:image/jpeg;base64,'+ searchData.item.itemImage" class="thumbnail2" align="left">
            <h2><a class="orderLink" (click)="orderItem(searchData.item.itemId)">{{searchData.item.description}}</a></h2><br>
            <h1>${{searchData.item.price}}</h1><br>
            <h3>{{searchData.item.category}}</h3><br>
            <h3>{{searchData.item.itemName}}</h3><br>
            <h3>Quantity available: {{searchData.item.inventoryQty}}</h3><br>
            <h3>Seller: {{searchData.store.storeName}}</h3> <h3> (within {{searchData.distance}} miles)</h3> 
          </mat-card>
        </div>
    </div>

  </div>

  <div *ngIf="user.usertype === 'seller'">
      <div *ngIf="store">
        <mat-card>

          <mat-card-header>
            <mat-card-title id="inlinediv">{{store.storeName}}</mat-card-title>
            <mat-card-subtitle id="inlinediv"><a class="editlink" (click)="editStore()">Edit</a></mat-card-subtitle>
          </mat-card-header>

          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="itemId">
              <th mat-header-cell *matHeaderCellDef>Item Id#</th>
              <td mat-cell *matCellDef="let element" (click)="displayCell(element.itemId)">{{element.itemId}}</td>
            </ng-container>

            <ng-container matColumnDef="itemImage">
              <th mat-header-cell *matHeaderCellDef>Item Image</th>
              <td mat-cell *matCellDef="let element"> <img class="thumbnail" [src]="'data:image/jpeg;base64,'+ element.itemImage"></td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let element" (click)="displayCell(element.itemId)">{{element.itemName}}</td>
            </ng-container>

            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef>Description</th>
              <td mat-cell *matCellDef="let element" (click)="displayCell(element.itemId)">{{element.description}}</td>
            </ng-container>

            <ng-container matColumnDef="category">
              <th mat-header-cell *matHeaderCellDef>Category</th>
              <td mat-cell *matCellDef="let element" (click)="displayCell(element.itemId)">{{element.category}}</td>
            </ng-container>

            <ng-container matColumnDef="inventoryQty">
              <th mat-header-cell *matHeaderCellDef>Qty in Stock</th>
              <td mat-cell *matCellDef="let element" (click)="displayCell(element.itemId)">{{element.inventoryQty}}</td>
            </ng-container>

            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef>Price</th>
              <td mat-cell *matCellDef="let element"(click)="displayCell(element.itemId)">{{element.price}}</td>
            </ng-container>

            <ng-container matColumnDef="storeId" hidden>
              <th mat-header-cell *matHeaderCellDef hidden>Store Id</th>
              <td mat-cell *matCellDef="let element" (click)="displayCell(element.itemId)" hidden>{{element.storeId}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          </table>

          <mat-card-actions align="end">
            <button mat-raised-button value="additem" (click)="addItem()">+</button>
            <Span> Click here to add an item</Span>
          </mat-card-actions>

        </mat-card>
      </div>  

      <div *ngIf="!store">
        <mat-card-actions>
          <button mat-raised-button value="createstore" (click)="createStore()">+</button>
          <Span> Click here to create a store</Span>
        </mat-card-actions>
      </div>
      
  </div>       

</div>

