.center {
    text-align: center;
    margin: auto;
    margin-top: 10%;
    width: 50%;
    padding: 10px;
    position: relative;
    font-size: large;
}

.full-width {
    width: 100%;
    font-size: large;
}


.mat-button, .mat-raised-button{
    background-color:#4CAF50;
} 
