@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.center {
    //text-align: center;
    margin: auto;
    margin-top: 10%;
    width: 100%;
    padding: 10px;
    position: relative;
    //font-size: large;
}

.full-width {
    // width: 100%;
    min-width: 650px;
    // font-size: large;
}


.mat-button, .mat-raised-button, button{
    background-color:#4CAF50;
} 

table {
    width: 100%;
}


.mat-row .mat-cell {
    cursor: pointer;
    }
  
  .mat-row:hover .mat-cell {
    border-color: currentColor;
  }

#inlinespace {
    margin-left: 15px;
    display: inline-block;
}

.styleWidth {
    width: 100px;
}

a.orderLink {
    text-decoration: underline;
    text-decoration-color: black;
    color: Black;
    cursor: pointer;
  }

