<div class="container">
    <nav>
        <ul>
          <li><a href="#" routerLink="/logout">logout</a></li>
          <li><a href="#" routerLink="/messagecenter" matBadge="{{tempData.getMessageCenterNotifications()}}">Messages</a></li>
          <li><a href="#" routerLink="/ordercheck" class="active" matBadge="{{this.tempData.getOrderCheckNotifications()}}">Order</a></li>
          <li><a href="#" routerLink="/profile">Profile</a></li>
          <li><a href="#" routerLink="/home">Home</a></li>
        </ul>
    </nav>

    <div style="text-align:center">
      <h1 [ngStyle]="{'color':'green'}">Orders Received</h1>
    </div>

    <div *ngFor="let orderData of orderDatas; let index = index">
          <br>
          <mat-card>
            <table>
              <tr>
                <td style="vertical-align:top">
                  <img [src]="'data:image/jpeg;base64,'+ orderData.item.itemImage" class="thumbnail2" align="left">
                </td>

                <td style="vertical-align:top"> 

                  <h3>Order Id# {{orderData.order.orderId}}</h3><br>
                  <h3>Order Date: {{orderData.order.orderDate}}</h3><br>
                  <h2><a class="orderLink">{{orderData.item.description}}</a></h2><br>
                  <h3>Item Name: {{orderData.item.itemName}}</h3><br>
                  <h3>Item Price: ${{orderData.item.price}}</h3><br>
                  <h3>Ordered Quantity: {{orderData.order.orderQty}}</h3><br>
                  <h3>Customer Name: {{orderData.customer.firstname}} {{orderData.customer.lastname}}</h3>

                  <span *ngFor="let review of orderData.review">
                      {{calcTotalReviews()}}
                      {{calcTotalRatingValue(review.ratingValue)}}
                      {{completeLoop()}}
                  </span>
                  
                  <span *ngIf="cLoop == true">
                      {{calcTotal(index)}}
                  </span>

                  <table>
                    <tr>
                      <td><h3>Rating:</h3></td>
                      <td *ngIf="ratingValueArray[index]==0">
                          <span style="font-size:15px">{{ratingValueArray[index]}} </span>
                          <span class="fa fa-star" style="color:#ccc; font-size:20px"></span>
                          <span class="fa fa-star" style="color:#ccc; font-size:20px"></span>
                          <span class="fa fa-star" style="color:#ccc; font-size:20px"></span>
                          <span class="fa fa-star" style="color:#ccc; font-size:20px"></span>
                          <span class="fa fa-star" style="color:#ccc; font-size:20px"> </span>
                          <span> (</span><span class="link" style="font-size:15px" (click)="ratingList(orderData.review)">{{totalReviewsArray[index]}} reviews</span><span>)</span>
                      </td>
    
                      <td *ngIf="ratingValueArray[index]==1">
                          <span style="font-size:15px">{{ratingValueArray[index]}} </span>
                          <span class="fa fa-star checked" style="color:#ffc700;font-size:20px"></span>
                          <span class="fa fa-star" style="color:#ccc; font-size:20px"></span>
                          <span class="fa fa-star" style="color:#ccc; font-size:20px"></span>
                          <span class="fa fa-star" style="color:#ccc; font-size:20px"></span>
                          <span class="fa fa-star" style="color:#ccc; font-size:20px"> </span>
                          <span> (</span><span class="link" style="font-size:15px" (click)="ratingList(orderData.review)">{{totalReviewsArray[index]}} reviews</span><span>)</span>
                      </td>
    
                      <td *ngIf="ratingValueArray[index]==1.5">
                          <span style="font-size:15px">{{ratingValueArray[index]}} </span>
                          <span class="fa fa-star checked" style="color:#ffc700;font-size:20px"></span>
                          <span class="fa fa-star-half-full checked" style="color:#ffc700;font-size:20px"></span>
                          <span class="fa fa-star" style="color:#ccc; font-size:20px"></span>
                          <span class="fa fa-star" style="color:#ccc; font-size:20px"></span>
                          <span class="fa fa-star" style="color:#ccc; font-size:20px"> </span>
                          <span> (</span><span class="link" style="font-size:15px" (click)="ratingList(orderData.review)">{{totalReviewsArray[index]}} reviews</span><span>)</span>
                      </td>
    
                      <td *ngIf="ratingValueArray[index]==2">
                          <span style="font-size:15px">{{ratingValueArray[index]}} </span>
                          <span class="fa fa-star checked" style="color:#ffc700;font-size:20px"></span>
                          <span class="fa fa-star checked" style="color:#ffc700;font-size:20px"></span>
                          <span class="fa fa-star" style="color:#ccc; font-size:20px"></span>
                          <span class="fa fa-star" style="color:#ccc; font-size:20px"></span>
                          <span class="fa fa-star" style="color:#ccc; font-size:20px"> </span>
                          <span> (</span><span class="link" style="font-size:15px" (click)="ratingList(orderData.review)">{{totalReviewsArray[index]}} reviews</span><span>)</span>
                      </td>
    
                      <td *ngIf="ratingValueArray[index]==2.5">
                          <span style="font-size:15px">{{ratingValueArray[index]}} </span>
                          <span class="fa fa-star checked" style="color:#ffc700;font-size:20px"></span>
                          <span class="fa fa-star checked" style="color:#ffc700;font-size:20px"></span>
                          <span class="fa fa-star-half-full checked" style="color:#ffc700;font-size:20px"></span>                     
                          <span class="fa fa-star" style="color:#ccc; font-size:20px"></span>
                          <span class="fa fa-star" style="color:#ccc; font-size:20px"> </span>
                          <span> (</span><span class="link" style="font-size:15px" (click)="ratingList(orderData.review)">{{totalReviewsArray[index]}} reviews</span><span>)</span>
                      </td>
    
                      <td *ngIf="ratingValueArray[index]==3">
                          <span style="font-size:15px">{{ratingValueArray[index]}} </span>
                          <span class="fa fa-star checked" style="color:#ffc700;font-size:20px"></span>
                          <span class="fa fa-star checked" style="color:#ffc700;font-size:20px"></span>
                          <span class="fa fa-star checked" style="color:#ffc700;font-size:20px"></span>
                          <span class="fa fa-star" style="color:#ccc; font-size:20px"></span>
                          <span class="fa fa-star" style="color:#ccc; font-size:20px"> </span>
                          <span> (</span><span class="link" style="font-size:15px" (click)="ratingList(orderData.review)">{{totalReviewsArray[index]}} reviews</span><span>)</span>
                      </td>
    
                      <td *ngIf="ratingValueArray[index]==3.5">
                          <span style="font-size:15px">{{ratingValueArray[index]}} </span>
                          <span class="fa fa-star checked" style="color:#ffc700;font-size:20px"></span>
                          <span class="fa fa-star checked" style="color:#ffc700;font-size:20px"></span>
                          <span class="fa fa-star checked" style="color:#ffc700;font-size:20px"></span>
                          <span class="fa fa-star-half-full checked" style="color:#ffc700;font-size:20px"></span>    
                          <span class="fa fa-star" style="color:#ccc; font-size:20px"> </span>
                          <span> (</span><span class="link" style="font-size:15px" (click)="ratingList(orderData.review)">{{totalReviewsArray[index]}} reviews</span><span>)</span>
                      </td>
                      
                      <td *ngIf="ratingValueArray[index]==4">
                          <span style="font-size:15px">{{ratingValueArray[index]}} </span>
                          <span class="fa fa-star checked" style="color:#ffc700;font-size:20px"></span>
                          <span class="fa fa-star checked" style="color:#ffc700;font-size:20px"></span>
                          <span class="fa fa-star checked" style="color:#ffc700;font-size:20px"></span>
                          <span class="fa fa-star checked" style="color:#ffc700;font-size:20px"></span>
                          <span class="fa fa-star" style="color:#ccc; font-size:20px"> </span>
                          <span> (</span><span class="link" style="font-size:15px" (click)="ratingList(orderData.review)">{{totalReviewsArray[index]}} reviews</span><span>)</span>
                      </td>
    
                      <td *ngIf="ratingValueArray[index]==4.5">
                          <span style="font-size:15px">{{ratingValueArray[index]}} </span>
                          <span class="fa fa-star checked" style="color:#ffc700;font-size:20px"></span>
                          <span class="fa fa-star checked" style="color:#ffc700;font-size:20px"></span>
                          <span class="fa fa-star checked" style="color:#ffc700;font-size:20px"></span>
                          <span class="fa fa-star checked" style="color:#ffc700;font-size:20px"></span>
                          <span class="fa fa-star-half-full checked" style="color:#ffc700;font-size:20px"> </span>
                          <span> (</span><span class="link" style="font-size:15px" (click)="ratingList(orderData.review)">{{totalReviewsArray[index]}} reviews</span><span>)</span>
                      </td>
                      
                      <td *ngIf="ratingValueArray[index]==5">
                          <span style="font-size:15px">{{ratingValueArray[index]}} </span>
                          <span class="fa fa-star checked" style="color:#ffc700;font-size:20px"></span>
                          <span class="fa fa-star checked" style="color:#ffc700;font-size:20px"></span>
                          <span class="fa fa-star checked" style="color:#ffc700;font-size:20px"></span>
                          <span class="fa fa-star checked" style="color:#ffc700;font-size:20px"></span>
                          <span class="fa fa-star checked" style="color:#ffc700;font-size:20px"> </span>
                          <span> (</span><span class="link" style="font-size:15px" (click)="ratingList(orderData.review)">{{totalReviewsArray[index]}} reviews</span><span>)</span>
                      </td>
                  </tr>
                  </table> 

                  <h3>Shipping Address:  {{orderData.customer.address}}, {{orderData.customer.city}}, {{orderData.customer.state}}, {{orderData.customer.zipcode}}</h3><br>
                  <h3>Payment Method: {{orderData.order.paymentMethod}}</h3><br>
                  <h3>Ship Method: {{orderData.order.shipMethod}}</h3><br>
                  

                  <mat-card-actions align="start">

                  <div id="inlinediv">
                      <button mat-raised-button (click)="LeaveFeedback(orderData.customer.username)">Feedback</button>
                  </div>

                  <div id="inlinediv" *ngIf="orderData.order.orderStatus === 'Order Submitted'">
                      <button mat-raised-button (click)="ShipOrder(orderData.order.orderId)">Ship Order</button>
                  </div>

                  <div id="inlinediv" *ngIf="orderData.order.orderStatus === 'Order Shipped'">
                    <button mat-raised-button (click)="ShipOrder(orderData.order.orderId)" disabled>Ship Order</button>
                  </div>

                  </mat-card-actions>
                </td>
              </tr>
            </table>
          </mat-card>
      </div>

      <div class="footerMod">
        <a style="margin-right:15px;" class="footerlink" (click)="footerPage('about')">About</a>
        <a style="margin-right:15px;" class="footerlink" (click)="footerPage('contactus')">Contact Us</a>
        <a style="margin-right:15px;">© 2021 LBP, Inc</a>
      </div>
    
</div>

